flow.json
[{"id":"3e236826.9b4ba8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9590e324.6afe5","type":"mqtt-broker","z":"","name":"MQTTSERVER","broker":"127.0.0.1","port":"1883","clientid":"myClient","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"89cbb25b.a78bc","type":"alexa-remote-account","z":"","name":"CookieAccount","authMethod":"cookie","proxyOwnIp":"10.0.4.23","proxyPort":"3456","cookieFile":"","refreshInterval":"1","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"off","autoInit":"on"},{"id":"23392b26.3c0634","type":"alexa-remote-account","z":"","name":"PRoxy","authMethod":"proxy","proxyOwnIp":"10.0.4.23","proxyPort":"3457","cookieFile":"alexa.json","refreshInterval":"1","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"fa1491fa.da197","type":"inject","z":"3e236826.9b4ba8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["b5b14b47.7b3dd8"]]},{"id":"b5b14b47.7b3dd8","type":"debug","z":"3e236826.9b4ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":100,"wires":[]},{"id":"6061ac6c.263874","type":"inject","z":"3e236826.9b4ba8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":320,"wires":[["66ad5dd0.f0fc04"]]},{"id":"66ad5dd0.f0fc04","type":"function","z":"3e236826.9b4ba8","name":"","func":"\n        msg.texttospeak = '<speak><amazon:effect name=\"whispered\">' + msg.texttospeak + '</amazon:effect></speak>';\n        \n        return msg;\n","outputs":1,"noerr":0,"x":750,"y":320,"wires":[[]]},{"id":"2eee2a0f.bf36b6","type":"alexa-remote-init","z":"3e236826.9b4ba8","name":"","account":"89cbb25b.a78bc","option":"initialise","x":400,"y":420,"wires":[["71ac4466.7ac05c"]]},{"id":"5154d48a.618f3c","type":"inject","z":"3e236826.9b4ba8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["2eee2a0f.bf36b6"]]},{"id":"71ac4466.7ac05c","type":"debug","z":"3e236826.9b4ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":420,"wires":[]},{"id":"2e0713a1.43dc8c","type":"alexa-remote-routine","z":"3e236826.9b4ba8","name":"","account":"23392b26.3c0634","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"Hello"},"devices":["G070RQ13908604TW"]}},"x":840,"y":180,"wires":[["33814e68.81d602"]]},{"id":"89ec2742.90ea48","type":"inject","z":"3e236826.9b4ba8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":180,"wires":[["2e0713a1.43dc8c"]]},{"id":"33814e68.81d602","type":"debug","z":"3e236826.9b4ba8","name":"debug1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1020,"y":180,"wires":[]},{"id":"38e969a1.309426","type":"alexa-remote-init","z":"3e236826.9b4ba8","name":"","account":"89cbb25b.a78bc","option":"refresh","x":400,"y":520,"wires":[["bebef30d.834bb"]]},{"id":"f683f7.8484cc08","type":"inject","z":"3e236826.9b4ba8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":520,"wires":[["38e969a1.309426"]]},{"id":"bebef30d.834bb","type":"debug","z":"3e236826.9b4ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":520,"wires":[]}]